---
// Library imports
import { cx } from "classix"
import { Picture } from "@astrojs/image/components"

// Project imports
import Layout from "layouts/Layout.astro"
import SocialLinks from "components/SocialLinks.astro"
---

<Layout title="About">
  <main>
    <div
      class={cx(
        "grid grid-cols-1",
        "sm:grid-cols-2",
        "lg:mt-16 lg:grid-cols-[2fr_minmax(min-content,_1fr)] lg:grid-rows-[auto_1fr] lg:gap-x-20 lg:gap-y-8"
      )}
    >
      <div>
        <Picture
          class="mx-auto rounded-full"
          src={import("../assets/placeholder.jpeg")}
          alt="portrait"
          sizes="(min-width: 640px) 18rem, (min-width: 1024px) 32rem, 10rem"
          widths={[100, 200, 400]}
          aspectRatio={1 / 1}
        />
        <SocialLinks
          class="mx-auto mt-3 w-fit sm:hidden"
          orientation="horizontal"
        />
      </div>
      <SocialLinks
        class={cx(
          "hidden place-self-center",
          "sm:block",
          "lg:order-last lg:self-start"
        )}
        orientation="vertical"
      />
      <div
        class={cx(
          "mt-6 space-y-8",
          "sm:col-span-2",
          "lg:order-first lg:col-span-1 lg:row-span-2 lg:mt-0"
        )}
      >
        <h1 class="max-w-4xl text-4xl font-bold tracking-tight md:text-5xl">
          Software developer, tinkerer, and life-long learner
        </h1>
        <div class="space-y-4 dark:text-zinc-200">
          <p>
            I have always been a naturally curious person. For as long as I can
            remember I have always tried to piece together how things work and
            why they were made the way they were.
          </p>
          <p>
            During the pandemic I fell deep into the rabbit-hole of building
            mechanical keyboards, and since then I have built quite a few. My
            current board of choice is a Suave Blue KFE CE with Penyu switches
            with GMK Noire keycaps. I have really enjoyed this hobby as a way to
            scratch my itch to tinker every now and again, and it's a nice way
            to make the mundane act of typing a more enjoyable experience.
          </p>
          <p>
            Video games are my go-to when I want to unwind. Some of my favorites
            are Destiny 2 and the Horizon series. Up next on my list of games to
            play are the recent God of War games, and I am eagerly awaiting the
            release of Diablo 4.
          </p>
        </div>
      </div>
    </div>
  </main>
</Layout>
