---
import Layout from "@layouts/Layout.astro"
import { Timeline } from "@components/react/work-timeline"
import {
  CareerTimeline,
  CareerTimelineEvent,
} from "@components/react/career-timeline/CareerTimeline"
---

<Layout title="Tim Tonelli">
  <main>
    <div class="space-y-12 sm:space-y-6">
      <section class="mx-auto max-w-3xl">
        <h1 class="mt-6 text-3xl font-bold md:text-4xl">
          👋 I'm Tim and I'm a software engineer currently located in the Boston
          area
        </h1>
        <div class="space-y-3 pt-3 text-zinc-600 dark:text-zinc-200">
          <p>
            I love to build things, peek under the hood, and share knowledge
            with others.
          </p>
          <p>
            I’m currently working at VIA, a startup based in Somerville focused
            on building software that helps clients make communities cleaner,
            safer and more equitable.
          </p>
        </div>
      </section>
      <section id="career">
        <h2
          class="select-none pb-1 pt-2 text-sm font-semibold text-zinc-500 dark:text-zinc-300"
        >
          Career
        </h2>
        <hr class="border-zinc-100 dark:border-zinc-300/20" />
        <div class="pt-6">
          <ul class="space-y-6">
            <li>
              <CareerTimelineEvent
                icon="building"
                heading="VIA Science"
                date="Sept 2022"
                current
                client:load
              >
                <p>
                  I'm working as a full-stack engineer at VIA, where I started
                  out on a client-facing team building and maintaining a
                  frontend app in Angular, as well as APIs and Microservices in
                  Python. During my time on this team, I also got familiar with
                  deployment tools like Docker, Kubernetes, Github Actions and
                  AWS. I was able to deliver new features, resolve old technical
                  debt, and build out prototypes for new tools and services.
                </p>
                <p>
                  After continued growth, I was able to make a move to VIA's
                  Platform team, where I am able to make a larger impact by
                  building services and tools that all client-facing teams are
                  able to use when building their applications.
                </p>
              </CareerTimelineEvent>
            </li>
            <li>
              <CareerTimelineEvent
                icon="code"
                heading="Freelance Software Developer"
                date="June 2022"
                client:load
              >
                I worked briefly as a freelance developer and took on projects
                using React helping a budding startup put together a component
                library for internal use, and React Native and Expo building out
                an MVP mobile app for a trucking company to help automate
                dispatching and check-in workflows.
              </CareerTimelineEvent>
            </li>

            <li>
              <CareerTimelineEvent
                icon="rocket"
                heading="Career Transition"
                date="Dec 2021"
                last
                client:load
              >
                I had been unhappy with my career path in recruitment for a
                while, and eventually I decided it was time to make a move. I
                wanted to move into a career where I could have more impact in
                what I was doing and more agency over my own growth. After
                validating my interest in coding, I decided this was the
                direction I wanted to go in. During this time, I attended a
                bootcamp to provide some structure and acceleration to the
                learning process.
              </CareerTimelineEvent>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </main>
</Layout>
