---
import Layout from "@layouts/Layout.astro"
import { Timeline } from "@components/react/work-timeline"
---

<Layout title="Tim Tonelli">
  <main>
    <div class="space-y-12 sm:space-y-6">
      <section class="mx-auto max-w-3xl">
        <h1 class="mt-6 text-3xl font-bold md:text-4xl">
          👋 I'm Tim and I'm a software engineer currently located in the Boston
          area
        </h1>
        <div class="space-y-3 pt-3 text-zinc-600 dark:text-zinc-200">
          <p>
            I love to build things, peek under the hood, and share knowledge
            with others.
          </p>
          <p>
            I’m currently working at VIA, a startup based in Somerville focused
            on building software that helps clients make communities cleaner,
            safer and more equitable.
          </p>
        </div>
      </section>
      <section id="career">
        <h2
          class="select-none pb-1 pt-2 text-sm font-semibold text-zinc-500 dark:text-zinc-300"
        >
          Career
        </h2>
        <hr class="border-zinc-100 dark:border-zinc-300/20" />
        <div class="pt-6">
          <Timeline client:load />
        </div>
      </section>
    </div>
  </main>
</Layout>
