---
import Layout from "../layouts/Layout.astro"
import SocialLinks from "../components/SocialLinks.astro"
import { WorkSection } from "components/react/work-section"
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="max-w-2xl space-y-6">
      <h1 class="text-4xl font-bold tracking-tight md:text-5xl">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa,
        voluptatum?
      </h1>
      <p class="text-base">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus, quia
        quod nihil nostrum accusamus ullam suscipit! Voluptatum, cum! Sunt
        dignissimos corrupti, delectus ipsam repellat nulla at porro velit vitae
        quis?
      </p>
      <SocialLinks orientation="horizontal" />
    </section>
    <section class="mt-12">
      <WorkSection client:load />
    </section>
  </main>
</Layout>
