---
// Library imports
import { cx } from "classix"

// Project imports
import GitHub from "./svg/GitHub.astro"
import Instagram from "./svg/Instagram.astro"
import Twitter from "./svg/Twitter.astro"
import Email from "./svg/Email.astro"
import LinkedIn from "./svg/LinkedIn.astro"

interface Props {
  class?: string
  orientation: "horizontal" | "vertical"
}

const links = [
  {
    name: "GitHub",
    text: "Follow on Github",
    href: "https://github.com/ttdotsh",
    Component: GitHub,
  },
  {
    name: "LinkedIn",
    text: "Follow on LinkedIn",
    href: "https://www.linkedin.com/in/tim-tonelli",
    Component: LinkedIn,
  },
  {
    name: "Twitter",
    text: "Follow on Twitter",
    href: "https://twitter.com/tt_kb_",
    Component: Twitter,
  },
  {
    name: "Instagram",
    text: "Follow on Instagram",
    href: "https://www.instagram.com/tt.kb_",
    Component: Instagram,
  },
  {
    name: "Email",
    text: "timtonelli@me.com",
    href: "mailto:timtonelli@me.com",
    Component: Email,
  },
]
---

<ul
  class={cx(
    "flex",
    Astro.props.orientation === "horizontal"
      ? "text-zinc-400"
      : "text-zinc-500 dark:text-zinc-400",
    Astro.props.orientation === "vertical" ? "flex-col space-y-5" : "space-x-6",
    Astro.props.class,
  )}
>
  {
    links.map(({ name, href, text, Component }) => (
      <li class="w-fit">
        <a
          class={cx(
            "flex items-center transition",
            "dark:text-zinc-400",
            Astro.props.orientation === "horizontal"
              ? "hover:text-zinc-600"
              : "hover:text-zinc-800",
            "dark:hover:text-zinc-100",
            Astro.props.orientation === "vertical" && "gap-x-3",
          )}
          href={href}
          target="_blank"
          rel="noreferrer"
        >
          <span class="sr-only">{name}</span>
          <Component />
          {Astro.props.orientation === "vertical" && (
            <span class="whitespace-nowrap text-sm">{text}</span>
          )}
        </a>
      </li>
    ))
  }
</ul>
