---
import { cx } from "classix"

import GitHub from "./svg/GitHub.astro"
import Instagram from "./svg/Instagram.astro"
import Twitter from "./svg/Twitter.astro"
import Email from "./svg/Email.astro"
import LinkedIn from "./svg/LinkedIn.astro"

interface Props {
  class?: string
}

const links = [
  { name: "GitHub", href: "https://github.com/timTonelli", Component: GitHub },
  {
    name: "LinkedIn",
    href: "https://www.linkedin.com/in/tim-tonelli",
    Component: LinkedIn,
  },
  {
    name: "Twitter",
    href: "https://twitter.com/timTonelli_",
    Component: Twitter,
  },
  {
    name: "Instagram",
    href: "https://www.instagram.com/tt.kb_",
    Component: Instagram,
  },
  { name: "Email", href: "mailto:timtonelli@me.com", Component: Email },
]
---

<ul class={cx("flex space-x-6", Astro.props.class)}>
  {
    links.map(({ name, href, Component }) => (
      <li>
        <a
          class="text-zinc-400 hover:text-zinc-600 dark:hover:text-zinc-100"
          href={href}
          target="_blank"
          rel="noreferrer"
        >
          <span class="sr-only">{name}</span>
          <Component />
        </a>
      </li>
    ))
  }
</ul>
