---
import { cn } from "@utils/cn"

const containerPadding = "sm:px-8 lg:px-12"
const contentPadding = "px-4 sm:px-8 md:px-12 lg:px-24"
---

<div class="fixed inset-0 flex justify-center">
  <div class={cn("flex w-full max-w-7xl", containerPadding)}>
    <div
      class="w-full bg-white ring-1 ring-zinc-100 dark:bg-zinc-900 dark:ring-zinc-300/20"
    >
    </div>
  </div>
</div>
<div class={cn("relative mx-auto max-w-7xl", containerPadding)}>
  <div class={contentPadding}>
    <slot />
  </div>
</div>
