---
type WithDivider = {
  divider: true
  heading?: string
}

type WithoutDivider = {
  divider?: false
}

type Props = (WithDivider | WithoutDivider) & { id?: string }

const { divider, heading, id } = Astro.props
---

<section id={id}>
  {
    divider && (
      <>
        {heading && (
          <h2 class="select-none text-sm font-semibold text-zinc-500 dark:text-zinc-300">
            {heading}
          </h2>
        )}
        <hr class="mt-1 border-zinc-100 dark:border-zinc-300/20" />
      </>
    )
  }
  <div class="mt-6">
    <slot />
  </div>
</section>
